body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    height: 70px;
    background-image: linear-gradient(to right,#5c174e, #040073);
}

.navbar img {
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
}

.dropdown {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    padding: 14px 20px;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: inherit;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdownContent {
    display:block;
}

.row {
    display: block;
    float: left;
    margin-top: 20px;
    margin-bottom: -22px;
    margin-left: 30px;
    margin-top: 30px;
}

.divbox{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    height: 160px;
    width: 165px;
    padding: 7px;
    margin-bottom: 15px;

}

.divbox img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

h6 {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: -5px;
}

p{
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
    color: grey;
    padding: 5px;
}

.plus img {
    float: right;
    bottom: 0;
    width: 60px;
    margin-top: 290px;
    margin-right: 10px;
}

/*******change Password*********/
.passChangeContainer {
    position: relative;
    width: 250px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    border-radius: 7px;
    box-shadow: 0 0 5px #333;
    background-color: #fff;
}

.passChangeContainer h6 {
    height: 35px;
    width: 250px;
    margin-top: 0;
    background-image: linear-gradient(to right, darkblue, blue);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 1;
    position: fixed;
}

.entries {
    margin-top: 50px;
    width: 250px;
    height: 200px;
    position: fixed;
    padding: 10px;
}

label { 
    width: 100px; 
    display: block; 
    margin: 0 0 0.25em;
    margin-bottom: 0;
    font-size: 0.69em;
    margin-left: 10px;
    position: relative;
    z-index: 1;
} 

input {  
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    width: 205px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #f2f6fc;
    z-index: 1;

} 

.changebtn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 65px;
    overflow: hidden;
    color: white;
    font-size: 10px;
    box-shadow: 0 0 10px #2564de;
    background: linear-gradient( to right, #0c04ae, #2564de);
}


